<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>icon_airport</string>
	<string>icon_bank</string>
	<string>icon_beauty</string>
	<string>icon_cafe</string>
	<string>icon_cinema</string>
	<string>icon_concert</string>
	<string>icon_education</string>
	<string>icon_fast_food</string>
	<string>icon_fitness</string>
	<string>icon_government</string>
	<string>icon_home</string>
	<string>icon_hospital</string>
	<string>icon_laundry</string>
	<string>icon_park</string>
	<string>icon_pub_bar</string>
	<string>icon_restaurant</string>
	<string>icon_service</string>
	<string>icon_shop</string>
	<string>icon_stadium</string>
	<string>icon_department_store</string>
	<string>icon_transport</string>
</array>
</plist>
